<!-- Start snippets/product-description.liquid -->

{% comment %} Start Shopify Id Styles {% endcomment %}
<style>
    #shopify-section-{{ section.id }} .meta-short-description,
    #shopify-section-{{ section.id }} .product-page__product-description,
    #shopify-section-{{ section.id }} .product-page__product-description * {
      font-size: {{ block.settings.font_size_short_description }}px;
      font-weight: {{block.settings.font_weight_short_description }};
      font-style: {{ block.settings.font_style_short_description }};
      color: {{ block.settings.description_color }};
    }
  
    @media (max-width: 1019px) {
      #shopify-section-{{ section.id }} .meta-short-description,
      #shopify-section-{{ section.id }} .product-page__product-description,
      #shopify-section-{{ section.id }} .product-page__product-description * {
        font-size: {{ block.settings.font_size_short_description_tablet }}px;
      }
    }
  
    @media (max-width: 767px) {
      #shopify-section-{{ section.id }} .meta-short-description,
      #shopify-section-{{ section.id }} .product-page__product-description,
      #shopify-section-{{ section.id }} .product-page__product-description * {
        font-size: {{ block.settings.font_size_short_description_mobile }}px;
      }
    }
  
  </style>
  {% comment %} End Shopify Id Styles {% endcomment %}
  
  <style>
    .meta-short-description,
    .product-page .product-page__product-description {
      margin: 11px 0;
    }
  
    .meta-short-description {
      letter-spacing: 0px;
      line-height: 1;
    }
  
    @media (max-width: 1019px) {
      .meta-short-description,
      .product-page .product-page__product-description {
        margin: 12px 0 13px;
      }
  
      .meta-short-description {
        text-align: var(--product-info-alignment, left);
        width: 75%;
        font-weight: 500;
      }
    }
  
    @media (max-width: 767px) {
      .meta-short-description,
      .product-page .product-page__product-description {
        margin: 2px 0;
      }
  
      .meta-short-description {
        width: 100%;
        font-size: 14px;
      }
    }
  </style>
  
  {%- if product.metafields.field.short_description != blank -%}
    <div class="meta-short-description">
      {{ product.metafields.field.short_description }}
    </div>
  {%- else -%}
    <div class="product-page__product-description">
      {{ product.description }}
    </div>
  {%- endif -%}
  <!-- End snippets/product-description.liquid -->