<!-- snippet/redirect-button -->
<style>
  .redirect-button-content {
    display: flex;
    justify-content: center;
    color: #fff;
  }
  .redirect-button-content > * {
    font-family: var(--new-layout-font);
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
  }
  .redirect-button-link {
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 18px 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 2px 0px #00000040;
    text-align: center;
    transition: .2s;
    min-width: 200px;
  }
  #shopify-section-{{section.id}} .redirect-button-link {
    background-color: {{ link_color }};
  }
  #shopify-section-{{section.id}} .redirect-button-link:hover {
    background-color: {{ link_color_hover }}
  }
  #shopify-section-{{section.id}} .redirect-button-link:hover {
    background-color: {{ link_color_hover }}
  }
  #shopify-section-{{section.id}} .redirect-button-link:before {
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    border: 3px solid {{ link_color }};
    border-top-left-radius: 8px;
    left: -7px;
    top: -7px;
    border-right: none;
    border-bottom: none;
  }
  #shopify-section-{{section.id}} .redirect-button-link:after {
    content: '';
    width: 35px;
    height: 35px;
    display: block;
    position: absolute;
    border: 3px solid {{ link_color }};
    border-bottom-right-radius: 8px;
    right: -7px;
    bottom: -7px;
    border-left: none;
    border-top: none;
  }

  @media(max-width: 767px) {
    .redirect-button-link {
      font-size: 14px;
      padding: 15px 20px;
    }
  }

</style>

<div class="redirect-button-content">
  <a
    class="redirect-button-link redirect-button__new-layout"
    name="{{ link_text }}"
    title="{{ link_text }}"
    href="{{ link_href }}"
  >
    {{ link_text }}
  </a>
</div>