{% schema %}
{
  "name": "BAD Info Blocks",
  "settings": [],
  "blocks": [
    {
      "type": "info_block",
      "name": "Info Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "profile_image",
          "label": "Profile Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "heading_color",
          "label": "Heading Color",
          "default": "#000000"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content Text"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text Color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "background_color",
          "label": "Background Color",
          "default": "#ffffff"
        },
        {
          "type": "radio",
          "id": "image_position",
          "label": "Image Position (Desktop)",
          "options": [
            { "value": "left", "label": "Left" },
            { "value": "right", "label": "Right" }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "cta_text",
          "label": "CTA Button Text"
        },
        {
          "type": "url",
          "id": "cta_url",
          "label": "CTA Button URL"
        },
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "Icons Under CTA"
        },
        {
          "type": "image_picker",
          "id": "icon_image_2",
          "label": "Icons Under CTA 2"
        },
        {
          "type": "text",
          "id": "cta_lower_text_1",
          "label": "Text Under CTA 1",
          "default": "365-Day Money Back Guarantee*"
        },
        {
          "type": "text",
          "id": "cta_lower_text_2",
          "label": "Text Under CTA 2",
          "default": "Free Shipping*"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "BAD Info Blocks",
      "blocks": [
        { "type": "info_block" }
      ]
    }
  ]
}
{% endschema %}

{% assign unique_class = 'BAD-custom-about-section-' | append: section.id %}

<style>
  .{{ unique_class }} {
    padding: 20px 0;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .{{ unique_class }} .BAD-info-block {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 1100px;
    min-width: 1100px;
    justify-content: space-between;
    padding: 0 20px;
    border-radius: 10px;
  }

  .{{ unique_class }} h2 {
    font-family: 'Bookmania', serif;
    font-size: 27px;
  }

  .{{ unique_class }} p {
    font-family: 'Suisse Intl Mono', monospace;
    font-size: 16px;
  }

  .{{ unique_class }} .BAD-profile-img {
    width: 350px;
    height: auto;
    border-radius: 20px;
  }

  @media (max-width: 767px) {
    .{{ unique_class }} .BAD-info-block {
      flex-direction: column !important;
          min-width: auto;
      justify-content: center;
    }

     .{{ unique_class }} .BAD-profile-img {
    width: auto;
    max-height: 338px;
    border-radius: 20px;
  }

    .{{ unique_class }} h2 {
      font-size: 20px;
      text-align: center;
    }
  }
</style>

<section class="{{ unique_class }}">
  {% for block in section.blocks %}
    {% assign block_class = 'BAD-info-block-' | append: block.id %}
    <div class="page-width" style="display:flex;flex-direction:column;align-items:center;">
      <div
        class="BAD-info-block {{ block_class }}"
        style="background-color: {{ block.settings.background_color }}; flex-direction: {% if block.settings.image_position == 'right' %}row-reverse{% else %}row{% endif %};"
      >
        {% if block.settings.profile_image %}
          <img src="{{ block.settings.profile_image | img_url: 'large' }}" alt="Profile Image" class="BAD-profile-img">
        {% endif %}
        <div>
          <h2 style="color: {{ block.settings.heading_color }};font-family: bookmania;">
            {{ block.settings.heading }}
          </h2>
          <p style="color: {{ block.settings.text_color }};font-family: suisse_intl_mono;">
            {{ block.settings.content }}
          </p>
        </div>
      </div>
      {% if block.settings.cta_text != blank %}
        <div class="BAD-cta-wrapper page-width">
          <a href="{{ block.settings.cta_url }}" class="BAD-cta-button" style="text-align:center;">
            {{- block.settings.cta_text -}}
          </a>
          <div style="display:flex;justify-content:center;padding-top: 5px;gap:10px;">
            <div style="display:flex;align-items:center;gap:5px;">
              <img src="{{ block.settings.icon_image | img_url: '600x600' }}" class="cta-icons" alt="Product Image">
              <p class="BAD-cta-info-text">{{ block.settings.cta_lower_text_1 }}</p>
            </div>
            <div style="display:flex;align-items:center;gap:5px;">
              <img src="{{ block.settings.icon_image_2 | img_url: '600x600' }}" class="cta-icons" alt="Product Image">
              <p class="BAD-cta-info-text">{{ block.settings.cta_lower_text_2 }}</p>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</section>
