<div class="ntg-prevention-section">
    <div class="ntg-container">
        <div class="ntg-heading-holder">
            <h2 class="ntg-h2">{{ section.settings.heading }}</h2>
        </div>
        <ul class="ntg-prevention-list">
          {% for block in section.blocks %}
            <li>
                <div class="ntg-img-holder{% if block.settings.image_mobile != blank %} ntg-has-mobile-img{% endif %}">
                    <div class="ntg-desktop-img">
                        <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt }}">
                    </div>
                    <div class="ntg-mobile-img">
                        <img src="{{ block.settings.image_mobile | img_url: 'master' }}" alt="{{ block.settings.image_mobile.alt }}">
                    </div>
                </div>
                <div class="ntg-text-holder">
                    <span class="ntg-title">{{ block.settings.title }}</span>
                    {{ block.settings.text }}
                </div>
            </li>
          {% endfor %}
        </ul>
    </div>
</div>

{% schema %}
{
  "name": "Custom Prevention List",
  "class": "custom-prevention-list",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Foods to Promote Lung Health"
    }
  ],
  "blocks": [
    {
      "type": "select",
      "name": "block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Prevention List",
      "category": "Custom Sections",
      "blocks": [
        { 
          "type": "select"
        },
        {
          "type": "select"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}